@media only screen and (max-width: 1200px) {
   .nav ul li a {
       font-size:85%;
       padding:1px 8px;
   }
    .category-content img {
        width:65%;
        padding:0;
        margin-top:20%;
    }
    .category-footer {
        font-size: 100%;
    }
    #quiz-content{
        width:100%;
    }
    #falogo {
        font-size: 600%;
    }
    .content-one-container div img{
        height: 10%;
    }
    .oval {
        margin-left:10%;
    }
  }


  @media only screen and (max-width: 800px) {
    .nav ul li a {
        font-size:85%;
        padding:1px 1px;
    }
    .content-one-container div {
        width:28%;
    }
    .category-footer {
        font-size: 90%;
    }
    .content-one-container div img{
        height:20%
    }
    .oval {
        margin-left:9%;
    }
   }

   @media only screen and (max-width: 700px) {
    .nav ul li a {
        font-size:60%;
        padding:1px 1px;
    }
    .content-one-container div {
        width:25%;
    }
    .category-footer {
        font-size: 80%;
    }
    #falogo {
        font-size: 400%;
    }
    .category-content{
        height:auto
    }
    .jumbotron{
        padding-top: 45px;
        height:auto
    }
    .header-buttons {
      height:auto
    }
    .content-one-container div img{
        height:20%
    }
    .oval {
        margin-left:7%;
    }
   }

  @media only screen and (max-width: 600px) {
    .nav ul li a {
        font-size:6px;
        padding:1px 1px;
    }
    .content-one-container div {
        width:23%;
    }
 
   }

   @media only screen and (max-width: 500px) {
    .nav ul li a {
        font-size:6px;
        padding:1px 1px;
    }
    .category-footer {
        font-size: 50%;
    }
   }

   @media only screen and (max-width: 400px) {
    .nav ul li a {
        font-size:4.8px;
        padding:1px 1px;
    }
    .category-footer {
        font-size: 40%;
    }
  
   }