body {
    background: white
}
p,h1,h2,h3,h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

.main {
    margin:0 auto;
width:70%;
}

.header {
   height:80px;
    background: rgb(88, 107, 172);
    width: 100%;

}
.logo {
    float: left;
width:20%;
}
.logo  a img {
    width: 10%;
}


.nav {
text-align: right;
    height:auto;
padding-top:20px;
width:79%;
float: left;
}

.nav ul {
    list-style: none;

}

.nav ul  li {
    display: inline;
 

}

.nav ul  li a {
    text-decoration: none;
    padding:12px 12px;
    color: white;

}

.nav ul  li a:hover {
    color:rgb(204, 189, 198);
 
}

.auth {
   position: absolute;
   width:30px;
   margin-left:-10px;
   margin-top:-3px;
}
.jumbotron {
margin-top:-20px;
height:500px;
background: linear-gradient(-45deg, rgba(78, 84, 200, .9), rgba(128, 137, 255, .9));
}

.jumbotron h1{
    color:white;
 padding-top:80px
}
.jumbotron h3 {
    color:white;
 padding-top:20px;
margin:0 auto;
font-weight: 100;
font-size: 22px;
}

.content {
  border-left: 1px solid black;
    padding:30px;
    margin-top:10px;
    margin-top:50px;

}

.header-buttons {
    width:11%;
    height:140px;
    border:1px solid white;
    margin:12px 12px;
    float: left;
    text-align: center

}
.category-content {
    height:100px;
    border-bottom: 1px solid white;

}
.category-content img {
    text-align: center;
    padding:10px 22px;
    width:80px;
}

.category-footer {
    text-align: center;
    padding-top: 12px;
}

#quiz-content {
    padding-top:20px;
    width:80%;
    margin:0 auto;
    padding-left: 20%;

}

.content-one-header {
    border-left: 4px solid rgba(128, 137, 255, .9);
    height:20px;
    padding:12px;
    font-size: 22px;
    font-weight: bold;
}
.content-one-container {

min-height:400px;
}
.content-one-container div {

    float: left;
    margin-top:40px;
    padding:20px;
    margin-left:20px;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  
}
.content-one-container div img {
    width:350px
}

.content h2 {

    text-align: center;
   border:1px solid rgb(172, 155, 155);
   border-radius:15px;
   width:180px;
   height:40px;
   text-align: center;
   padding-top:15px;
   background: rgb(181, 185, 177);
   margin: 0 auto
}
.footer {
    width:100%;
    height:400px;
    background: #43476b;
}
.col-sm-3 {
    border:2px solid red;
    width:33%;
}

.col-sm-4 {
    width:40%;
    float: left;
}
.col-sm-5 {
    width:50%;
    float: left;
}
.col-sm-6 {
    width:60%;
    float: left;
}

.col-sm-7 {
    width:70%;
    float: left;
}
.col-sm-8 {
    width:80%;
    float: left;
}

.col-sm-2 {
    width:20%;
    float: left;
}

.row div {
    float: left;
}

#quize-picture {
    width:350px;
    height: 400px;


}

#quize-picture textarea {
    width:300px;
    height: 50px;
    border:2px solid rgb(57, 129, 223);
    border-radius:2px;
margin-left:25px;
    margin-top:4px
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;

}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    margin:32px 32px
}


.inputfile + label {
    color: #f1e5e6;
    background-color: #d3394c;
    line-height: 2;
    width:200px;
    padding-left:25px;
    cursor: pointer;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

#forimg {
    width:300px;
    height:100px;
    background-color: #dfc8ca;
    margin-left:25px;
}

.h5 {
    font-size: 15px;
    color:rgb(59, 48, 45);
    text-align: center
}

.inputfile + label:hover {
  background-color: rgb(105, 17, 61)
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow 
}

.quize-header {
    width:300px;
    height:auto;
    margin:0 auto;
 
}
.quize-type {
    list-style: none
}

.quize-type li {
    padding:7px;
    background-color: rgb(88, 107, 172);
    margin: 12px 12px;
    width:100%;
}

.quize-type li a {
    text-decoration: none;
    color:white;
    font-size:18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
  
}

.quize-type li:hover {
    background-color: blueviolet
}

.footer-content {
margin-top:90px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #8089ff;
    position: absolute;margin-left: 50%;
}

.footer-content img {
    width: 70px;
    margin-top:5px;

}
.footer-content div {
    float: left;
}
.oval {
    float: left;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    width:40px;
    height: 40px;
    margin-left:15px;
   
}

#oval-align {
    margin-left: 44%;
    margin-top:175px;
    position: absolute;

}

#oval-align  h5 {
    color:white;
    margin-top:22px
}

.autentication {
    width:400px;

    border:1px solid black;
    margin:0 auto;
    border-radius: 12px;
    padding: 24px;
}

.autentication p {
    margin:3px !important;
    padding:4px !important;
    text-align: left;
   
}

.autentication a {
    color:black
}

.autentication a:hover {
    color:red
}
.primary {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
