@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/bpg_nino_mtavruli_bold.ttf');
  
  }

  @font-face {
    font-family: 'footerfont';
    src: url('../fonts/bpg_arial_2009.ttf');
   
}
body {
    background: white;
    margin:0px;
    padding:0px;
}
p,h1,h2,h3,h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}


.main {
    margin:0 auto;
width:70%;
}

.header {
   height:80px;
    background: rgb(253,185,39);
    position: fixed;
    width:100%;
}
.logo {
    float: left;
width:22%;


}
.logo  a img {
    width: 10%;
    margin:0px;
    padding:0px;
}


.nav {
text-align: right;
    height:auto;
padding-top:20px;
width:75%;
float: left;
}

.nav ul {
    list-style: none;

}

.nav ul  li {
    display: inline;
 

}

.nav ul  li a {
    font-family: 'MyWebFont';
    text-decoration: none;
    padding:12px 12px;
    color: rgb(85,37,130);
    font-weight: bold;

   

}

.nav ul  li a:hover {
    color:rgb(105, 102, 104);
    border-bottom:2px solid white
 
}
.brand {
    color:rgb(85,37,130);
    float: right;
    left:14%;
    font-size: 35px;
    position: absolute;
}
.auth {
   position: absolute;
   width:30px;
   margin-left:-10px;
   margin-top:-3px;
}
.quizeposition {
    margin: 0 auto;
    width: 70%;
    text-align: center; 
}
.jumbotron {
    padding-top: 145px;
    margin: 0 auto;
    height: 700px;
    /* background: linear-gradient(-45deg, rgba(85, 37, 130, 1), rgb(253,185,39) ); */
    background: linear-gradient(-45deg, rgba(85, 37, 130, 0.3), rgba(85, 37, 130, 1) );
}

.jumbotron h1{
    color:white;
 padding-top:120px
}
.jumbotron h3 {
    color:white;
 padding-top:20px;
margin:0 auto;
font-weight: 100;
font-size: 22px;
}

.content {

    padding-top: 80px;
    border:1px solid rgb(199, 188, 188);

}
.single-content {
    padding-top: 120px;
}
.preview-content {
    padding-top: 90px;
}
.header-buttons {
    width: 20%;
    line-height: 2em;
    margin: 12px 2%;
    float: left;
    text-align: center;
    height: 280px;

}
.category-content {
    height:230px;
    border-radius: 7px;
    transition: 0.5s;
}
#falogo {
    font-size: 800%;
    color: #eee;
    padding-top: 70px;
 
}
#falogo:hover{
    color:rgba(253, 185, 39, 0.856);
}
.category-content:hover {
    color:white;

}
.category-content img {
    text-align: center;
    padding:10px 22px;
    width:80px;
}

.category-footer {
    text-align: center;
    padding-top:5px;
    color:rgb(85,37,130);
    background-color: white;
    border-radius:7px;
    width:100%;
    font-size:20px;
    line-height: 2em;
    margin-top:10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
font-family: 'MyWebFont'
}


.category-footer-buton {
    text-align: center;
    padding:0px;
    color:rgb(85,37,130);
    background-color: white;
    border-radius:7px;
    width:100%;
    font-size:20px;
    line-height: 2em;
    margin-top:10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;

}
.category-footer-buton:hover {
    background-color:rgb(253,185,39)
}

.morebutton
{
    text-align: center;
    padding:0px;
    color:rgb(85,37,130);
float: right;
    background-color: white;
    border-radius:7px;
    width:150px;
    font-size:20px;
    line-height: 2em;
    margin-top:10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
margin:0 auto;
border:1px solid rgb(85,37,130);
margin-top:15px;
}
.morebutton:hover {
    background-color: rgb(85,37,130);
    border:1px solid white;
    color:white;
}

.category-footer:hover {
    color:white;
    background-color: rgba(119, 128, 245, 0.9);
}

#quiz-content {
    
    width:80%;
    margin:0 auto;


}

.content-one-header {
    border-left: 4px solid rgba(128, 137, 255, .9);
    height:20px;
    padding:12px;
    font-size: 22px;
    font-weight: bold;
}
.content-one-header span {
    color:rgb(85,37,130);
}

.content-one-container div {

    float: left;
    margin-top:40px;
    margin-left:20px;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
   
  width:30%
}
.content-one-container div img {
    width:100%;
    height:30%;
   cursor: pointer;
   transition: all .2s ease-in-out; 
}
.content-one-container div img:hover {
    transform: scale(0.8);

}

.content h2 {

    text-align: center;
   border:1px solid rgb(172, 155, 155);
   border-radius:15px;
   width:180px;
   height:40px;
   text-align: center;
   padding-top:15px;
   background: rgb(181, 185, 177);
   margin: 0 auto
}
.footer {
    width:100%;
    background: #43476b;
}
.col-sm-1{
 width: 11%;
 float: left;
}

.col-sm-12{
    width: 12%;
    float: left;
   }

 .col-sm-13{
    width: 13%;
    float: left;
   }
 .col-sm-14{
    width: 14%;
    float: left;
   }
   .col-sm-16{
    width: 17%;
    float: left;
   }
.col-sm-3 {
float: left;
    width:33%;
}

.col-sm-4 {
    width:40%;
    float: left;
}

.col-sm-42 {
    width:42%;
    float: left;
}
.col-sm-43 {
    width:43%;
    float: left;
}
.col-sm-44 {
    width:44%;
    float: left;
}
.col-sm-45 {
    width:45%;
    float: left;
}

.col-sm-5 {
    width:50%;
    float: left;
}
.col-sm-6 {
    width:60%;
    float: left;
}

.col-sm-62 {
    width:62%;
    float: left;
}
.col-sm-63 {
    width:63%;
    float: left;
}

.col-sm-64 {
    width:64%;
    float: left;
}
.col-sm-65 {
    width:65%;
    float: left;
}

.col-sm-66 {
    width:66%;
    float: left;
}

.col-sm-67 {
    width:67%;
    float: left;
}

.col-sm-68 {
    width:68%;
    float: left;
}

.col-sm-69 {
    width:69%;
    float: left;
}
.col-sm-7 {
    width:70%;
    float: left;
}
.col-sm-8 {
    width:80%;
    float: left;
}

.col-sm-9 {
    width:90%;
    float: left;
    padding-top:8px;
}



.col-sm-2 {
    width:20%;
    float: left;

}
.col-sm-25 {
    width:25%;
    float: left;

}
.col-sm-23 {
    width:23%;
    float: left;

}
.col-sm-22 {
    width:22%;
    float: left;

}
.row div {
    /*float: left;*/
}

#quize-picture {
    width:350px;



}

#quize-picture textarea {
    width:200px;
    height: 30px;
border-style: dashed;
    margin-top:4px;
    font-size: 18px;

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;

}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    margin:162px 12px
}


.inputfile + label {
    color: #f1e5e6;
    background-color: #337ab7;
    line-height: 1.5;
    width:180px;

    cursor: pointer;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

#forimg {
    width:200px;
    height:200px;
    background-color: #eee;
    
}

.h5 {
    font-size: 15px;
    color:rgb(59, 48, 45);
    text-align: center
}

.inputfile + label:hover {
  background-color: rgb(158, 144, 151)
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgb(138, 127, 127);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow 
}

.quize-header {

    height:auto;
    margin:0 auto;
 
}
.quize-type {
    list-style: none;
    margin-top:0px;
    padding:0;

}

.quize-type li {
    padding:7px;
    background-color:#eee;
    margin: 1px 12px;
  
    border: 1px solid #bbb;
  
}

.quize-type li a {
    text-decoration: none;
    color:black;
    font-size:18px;
    width:100%;
  
}

.quize-type li:hover {
    background-color: #fff
}
.quize-type li:visited{
    background-color: #fff
}

.footer-content {

    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #8089ff;
margin:0 auto;

}

.footer-content img {
    width: 70px;
    margin-top:5px;

}
.footer-content div {
    float: left;
}
.oval {
    float: left;
    cursor: pointer;
  
    width:40px;
    height: 40px;
    margin-left:15%;
    margin-top:20px;
}



.contextfooter {
    padding-top:10px;
color:white;
font-size:17px;
}
#oval-align  h5 {
    color:white;
    margin-top:22px
}

.autentication {
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 12px;
    padding: 44px 24px;
    /* min-height: 500px; */
    margin-bottom: 25px;
}

.autentication p {
    margin:3px !important;
    padding:4px !important;
    text-align: left;
   
}

.autentication a {
    color:black
}

.autentication a:hover {
    color:red
}


#textfield {
    height:60px;
   margin-top:6px;
   border-style: dashed;
   width:400px;
}
#singleheader {
    width:400px;
    border-style: dashed;
    font-weight: bold;
    font-size: 20px;
}

.inc, .dec {

    color:red;
 font-size: 25px;
    padding:3px;
    font-weight: bold;
}


.singlelist li {
    margin-top:5px;

}
.singlelist li>input  {
width:360px;
border-style: dashed;


}

.md-pad {
width:200px;
height: 250px;
padding-left:10px;

}

.txtarea {
    width:100px;
    color: rgb(85,37,130);
    padding-left:8px;
}

#border-check {
    border: 2px solid rgb(85,37,130);
    /*background: linear-gradient(-45deg, rgb(234, 234, 234), rgb(217, 213, 220) );*/
    border-radius: 7px;
    margin-top: 12px;
}

#border-check span {
    font-size: 27px;
    font-weight: bold;
    padding:7px;

}

#border-check textarea {
   width:90%;
   margin-top:10px;
   height:45px;
   font-size: 20px;
   border: 1px solid rgb(85,37,130);
   border-radius: 7px;
   color: rgb(85,37,130);
   padding-left:14px;
}

#border-check input {
    padding:8px;
    border: 1px solid rgb(85,37,130);
    border-radius: 7px;
    margin-bottom: 8px;
}

.secinput {
    width:70%;
    margin-left:20px;
    border-style: dashed;
    border:1px solid rgb(212, 201, 201)
}

.checkbox {
    margin-left:50px;
 border:1px solid red
}

table {
    border:1px solid rgb(201, 191, 191)
}

table tbody th  {
    border:1px solid rgb(201, 191, 191);
    background-color:rgb(201, 191, 191)
}
table tr td {

    padding:5px;
    text-align: center
}

.linkedquiz li {
padding: 5px;

}

.linkedquiz li a {
    text-decoration: none
}
.linkedquiz li a:hover {
    text-decoration: underline
}

.optionbar {
    border:1px solid rgb(201, 191, 191);
  list-style-type: none;
  padding-left:5px;
padding-top:0px;
}

.optionbar li {
padding-top:2px;
margin-top:5px;
}
.optionbar li div {
    margin-top:4px;
    
}

.newandpop li {
padding-top:3px;
}
.newandpop li a {
    text-decoration: none
    
}
.newandpop li:hover {
    text-decoration: underline
}
.multipleansver {
    border:1px solid black;
    width:700px;
    margin-top:5px;
}
.multipleansver button {
    display: block;
    margin:12px;
}
.countryimg {
    width:220px;
    height:150px;

    margin:12px;
}

#matchingbuttons button {
width:200px;
margin:2px 25px
}
#matchingoptions select {
    width:200px;
    margin:2px 25px
    }

.footerlinks
{

    float: right;
    margin-top:125px;
width:40%;
}
.footerlinks span {
    color:rgb(206, 146, 146);
    font-family: 'MyWebFont';
  
}
.footerul {
    margin-top:15px !important;
    list-style-type: none;
}
.footerul li a:hover {
    text-decoration: underline
}
.footer-auto {
width:100%;
margin:0 auto;
}
.footerlinks ul {
margin:0px;
padding:0px
}

.footerlinks ul li{
padding:3px;
}

.footerlinks ul li a {
color:white;
text-decoration: none;
text-align: center;
font-size:110%;
font-family: 'footerfont'
}
#butonsf {
    width: 50%;
    margin: 10px 0px;
    padding: 0px;
    margin-left: 25%;
}
#channel-face {
    font-size:250%;
    color:#3b5998;

}

#channel-twitter {
    font-size:250%;
    color:#38A1F3;

}

#channel-instagram {
    font-size:250%;
    color:#231F20;

}

#channel-youtube {
    font-size:250%;
    color:#ED3833;

}

.footersec {
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.footersec li {
    display: inline;
    padding:12px;
}
.footersec li a {
    text-decoration: none;
    color:white;
    font-size:14px;
font-family: 'MyWebFont';
}
.margincontent {
    margin-top:10px;
}

.bottomcontent{
    margin-bottom:20px
}
.marginbutton {
    margin:6px;
}
.mrgnbot {
    margin-bottom:15px;
}
.apsoluterow{
    width:500px;margin:0 auto;position: absolute;left:25%
}
.apsoluteRows {
    width:50%;margin:0 auto;margin-bottom:20px
}
.timerinput {
    border-style: dashed;
                        width:80px;height:40px;
                        font-size: 25px;
                        color:green;
                        text-align: center;
}

.specolors {
    color: rgb(85,37,130);
    padding-left: 14px;
    font-size:120%;
}
.leftimg {
    width:240px;
    height:150px;
padding-top:25px;
    margin:0px;
}

.wronganswer {
    color:red
}
.correctanswer {
    color:green
}
.numberstyle {
    float: left;padding:7px;font-size:150%;
    
}

.inputalign{
    width:80%;margin-left:1%;margin-top:5px;
}
.smallsize {
    font-size:120%;
}
.marginandwidth {
    width:1200px;margin:0 auto;height:300px;
}

.rightquestion{
    background-color: #f2eae1;
    height:500px;
    border: 1px solid rgba(0,0,0,.2);
    float: right;
}